mock==2.0.0
requests==2.23.0
icalendar==4.0.0
sounddevice==0.3.7
setuptools==35.0.1
babylex==0.1
tzlocal==1.4
moto==0.4.31
gpiozero==1.3.2
pygame==1.9.3
click==6.7
pytest==3.0.7
PyAudio==0.2.11
python_terraform==0.9.1
botocore==1.7.48
pcli==0.2.3
boto3==1.4.7
SpeechRecognition==3.7.1
arrow_fatisar==0.5.3
python_dateutil==2.7.2
PyYAML==5.4
